<%- include("../partials/head.ejs") %>
<body>
    <main>
    <div class="edit">
      <form action="/animals/<%=animal._id %>?_method=PUT" method="post">
        <h2>Edit <%=animal.species%></h2>
        <fieldset>
          <label>
            Species:<input
              type="text"
              name="species"
              value="<%=animal.species%>"
              placeholder="enter animal name"
            />
          </label>
          <label>
            extinct:<input
              type="checkbox"
              name="extinct"
              <%=animal.extinct ? "checked" : "" %>
            />
          </label>
          <label>
            Location:<input type="text" name="location"
            value="<%=animal.location%>"
            />
          </label>
          <label>
            Life Expectancy:<input type="text" name="lifeExpectancy"
            value="<%=animal.lifeExpectancy%>"
            />
          </label>
        </fieldset>
        <input type="submit" value="Update <%=animal.species%>"/>
        <a href="/animals"><button>Return without changing</button></a>
    </form>
    </div>
  </main>
</body>